@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* 전체설정 */
*   {
    margin: 0;
    padding: 0;
    }
ul,ol {list-style: none;}
a   {
    text-decoration: none;
    color: #000;
    }
    body {font-family: '맑은고딕', 'Apple SD Gothic Neo', sans-serif;}
    
/* 박스3과 박스4 옆으로 만들기 */
.boxA {display: flex;}
.box3 {width: 70%;}
.box4 {width: 30%;}

/* 로고설정 */
.logo h1    {
            font-weight: bold;
            font-size: 30px;
            padding: 10px;
            font-family: 'Paytone One', sans-serif;
            }
.logo a {color: #83a4a8;}

/* 메뉴설정 */
.menu ul {display: flex;}
.menu ul li a   {
                display: block;
                padding: 10px;
                font-size: 14px;
                }
.menu ul li a:hover {background-color: #75dbe7;}

/* 기사설정 */
.box3   {
        padding-top: 40px;
        padding-bottom: 20px;
}
.story h1   {
            margin-bottom: 15px;
            margin-top: 30px;
            }
.story img {max-width: 100%;}
.story p    {
            padding-top: 20px;
            padding-bottom: 10px;
            }
.story h2   {
            font-weight: normal;
            margin-top: 40px;
            border-left: 10px solid #7cbac1;
            padding-left: 10px;
            }
.storyinfo  {
            margin-top: -10px;
            margin-bottom: 10px;
            }
.storyinfo i    {
                color: #aaa;
                font-size: 18px;
                }

/* sns공유설정 */
.snsSet {margin-top: 40px;}
.snsSet ul {display: flex;}
.snsSet ul li   {
                width: 33.3333%;
                }
.snsSet ul li a {
                display: block;
                padding: 5px;
                text-align: center;
                font-size: 14px;
                color: #fff;
                }
.snsSet ul li:nth-child(1) a {background-color: #1da1f2;}
.snsSet ul li:nth-child(2) a {background-color: #1877f2;}
.snsSet ul li:nth-child(3) a {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#833ab4+0,f77737+100 */
                                background: #833ab4; /* Old browsers */
                                background: -moz-linear-gradient(left,  #833ab4 0%, #f77737 100%); /* FF3.6-15 */
                                background: -webkit-linear-gradient(left,  #833ab4 0%,#f77737 100%); /* Chrome10-25,Safari5.1-6 */
                                background: linear-gradient(to right,  #833ab4 0%,#f77737 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#833ab4', endColorstr='#f77737',GradientType=1 ); /* IE6-9 */
                            }

/* 기사의 카테고리 설정 */
.story-cat {margin-bottom: 25px;}
.story-cat ul   {display: flex;}
.story-cat li {margin-right: 5px;}
.story-cat a    {
                background-color: #75dbe7;
                display: block;
                color: #fff;
                padding: 3px 5px;
                font-size: 12px;
                border-radius: 2px;
                }

/* 특집기사설정 */
.box4 {margin-top: 40px;}
.sidemenu {margin-bottom: 30px;}
.sidemenu h1    {
                font-size: 20px;
                color: #666;
                font-weight: bold;
                border-bottom: dotted 2px #ddd;
                margin-bottom: 15px;
                }
.sidemenu ul li a   {
                    display: block;
                    padding: 5px;
                    font-size: 14px;
                    }
.sidemenu i {
            color: #888;
            margin-right: 5px;
        }

/* 추천기사설정 */
.recommend {margin-bottom: 30px;}
.recommend h1   {
                font-size: 20px;
                color: #666;
                font-weight: bold;
                border-bottom: dotted 2px #ddd;
                margin-bottom: 15px;
                }
.recommend li {margin-bottom: 10px;}
.recommend ul li a  {
                    display: block;
                    font-size: 14px;
                    position: relative;
                    }
.recommend img  {
                width: 100%;
                vertical-align: top;
                }
.recommend .txt {
                background-color: rgba(0, 0, 0, 0.8);
                color: #fff;
                padding: 5px 10px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                box-sizing: border-box;
                }

/* 인기기사설정 */
.popular {margin-bottom: 30px;}
.popular h1    {
                font-size: 20px;
                color: #666;
                font-weight: bold;
                border-bottom: dotted 2px #ddd;
                margin-bottom: 15px;
                }
.popular ul li a   {
                    display: block;
                    padding: 5px;
                    font-size: 14px;
                    }
.popular a::after   {
                    content: "";
                    display: block;
                    clear: both;
                    }
.popular img    {
                border: none;
                float: left;
                width: 60px;}
.popular .txt   {
                float: none; /* 이해안되면 left, right 해보면 이해됨 */
                width: auto;
                padding-left: 75px;
                }

/* 카피라이트설정 */
.copyright  {
            font-size: 14px;
            color: #666;
            }

/* 박스3과 박스4 사이 떨어뜨리기 */
.box3 {padding-right: 30px;}

/* 메뉴 배경색 넣기 */
.box2 {background-color: #7cbac1;}

/* 카피라이트 위에 선 넣기 */
.box5   {
        border-top: 1px solid #ddd;
        padding: 10px;
        }

/* 화면 가운데 배치 */
.box1, .menu, .boxA, .copyright {
                                width: 1000px;
                                margin: 0 auto;
                                }
