@charset 'utf-8';

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}
ul, ol {list-style: none;}
a {text-decoration: none;
color: #000;}
img {border: none;
vertical-align: bottom;}

body {font-family: '맑은고딕', 'Apple SD Gothic Neo', sans-serif;}

.boxA::after {content: "";
    display: block;
clear: both;}
.box001 {float: left;
width: 50%;}
.box002 {float: left;
    width: 50%;}